:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --fw-regular: 400;
    --fw-bold: 700;
    --ff-outfit: 'Outfit', sans-serif;

}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--ff-outfit);
}

body{
    background-color: lightblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    height: 500px;
    width: 300px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
}

.content h2{
    margin-top: 10px;
    text-align: center;
    color: var(--dark-blue);

}

.content p{
    margin-top: 10px;
    text-align: center;
    color:var(--grayish-blue)
}

.card-img{
    background-image: url(images/image-qr-code.png);
    background-size: cover;
    height: 280px;
    border-radius: 20px;

}